statemachine/rssblog.asl.json
{
  "Comment": "Check AWS Blog feeds, get last timestamp stored on S3",
  "StartAt": "Discover Blog Feeds",
  "States": {
    "Discover Blog Feeds": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${rsscrawl}",
        "Payload": {
          "msg.$": "$"
        }
      },
      "Next": "Get RSS Blog Feed"
    },
    "Get RSS Blog Feed": {
      "Type": "Map",
      "ItemsPath": "$.results",
      "OutputPath": "$",
      "Next": "Run all.json Refresh",
      "Parameters": {
        "msg.$": "$$.Map.Item.Value",
        "guids.$": "$.guids",
        "daystoretrieve.$": "$.daystoretrieve",
        "sendemail.$": "$.sendemail"
      },
      "Iterator": {
        "StartAt": "Get RSS Blogs",
        "States": {
          "Get RSS Blogs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "InputPath": "$",
            "OutputPath": "$.Payload",
            "Retry": [
              {
                "ErrorEquals": [ "States.ALL" ],
                "IntervalSeconds": 1,
                "BackoffRate": 2,
                "MaxAttempts": 3
              }
            ],
            "Parameters": {
              "FunctionName": "${rssgetfeed}",
              "Payload": {  
                "msg.$": "$.msg",
                "guids.$": "$.guids",
                "sendemail.$": "$.sendemail"
              }
            },
            "End": true
          }
        }
      }
    },
    "Run all.json Refresh": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "InputPath": "$",
      "Parameters": {
        "FunctionName": "${rssgetfeed}",
        "Payload": {  
          "msg": "all"
        }
      },
      "Next": "Finish"
    },
    "Finish": {
      "Type": "Succeed",
      "InputPath": "$",
      "OutputPath": "$"
    }
  }
}