statemachine/rssblog.asl.json
{
  "Comment": "Check AWS Blog feeds, get last timestamp stored on S3",
  "StartAt": "Discover Blog Feeds",
  "States": {
    "Discover Blog Feeds": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "${rsscrawl}",
        "Payload": {
          "msg.$": "$"
        }
      },
      "Next": "Get RSS Blog Feed"
    },
    "Get RSS Blog Feed": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.results",
      "OutputPath": "$",
      "ResultPath": "$.map",
      "Next": "Finish",
      "Parameters": {
        "msg.$": "$$.Map.Item.Value",
        "guids.$": "$.guids",
        "s3_bucket.$": "$.s3_bucket",
        "algolia_app.$": "$.algolia_app",
        "algolia_apikey.$": "$.algolia_apikey",
        "algolia_index.$": "$.algolia_index",
        "dynamo_region.$": "$.dynamo_region",
        "dynamo_table.$": "$.dynamo_table",
        "from_email.$": "$.from_email",
        "to_email.$": "$.to_email",
        "storepublics3.$": "$.storepublics3",
        "enable_algolia.$": "$.enable_algolia",
        "send_mail.$": "$.send_mail"
      },
      "Iterator": {
        "StartAt": "Get RSS Blogs",
        "States": {
          "Get RSS Blogs": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "InputPath": "$",
            "OutputPath": "$.Payload",
            "Retry": [
              {
                "ErrorEquals": [ "States.ALL" ],
                "IntervalSeconds": 1,
                "BackoffRate": 2,
                "MaxAttempts": 3
              }
            ],
            "Parameters": {
              "FunctionName": "${rssgetfeed}",
              "Payload": {  
                "msg.$": "$.msg",
                "guids.$": "$.guids",
                "send_mail.$": "$.send_mail",
                "s3_bucket.$": "$.s3_bucket",
                "dynamo_table.$": "$.dynamo_table",
                "enable_algolia.$": "$.enable_algolia",
                "algolia_app.$": "$.algolia_app",
                "algolia_apikey.$": "$.algolia_apikey",
                "algolia_index.$": "$.algolia_index",
                "storepublics3.$": "$.storepublics3"
              }
            },
            "End": true
          }
        }
      }
    },
    "Finish": {
      "Type": "Succeed",
      "InputPath": "$",
      "OutputPath": "$"
    }
  }
}